@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

html, body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: #1f2937
}

/* Navbar */

.navbar-container {
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    background-color: #111827;
}

.nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 1em 0;
    z-index: 1;
    transition: 0.4s ease-in;
    background-color: #1f2937
}

.nav-active {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s ease-in;
    background-color: #1f2937
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.8px;
    color: #fde047
}

.nav-link:hover {
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.logo {
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0.8px;
    text-decoration: none;
    color: #fde047;
}

.tv {
    font-size: 1.4rem;
    margin-right: 0.5em;
    color: white;
}

.hamburger-btn {
    display: block;
    z-index: 1;
}

.hamburger-btn:hover {
    cursor: pointer;
}

.hamburger-line {
    display: block;
    width: 20px;
    height: 3px;
    margin: 3px auto;
    background-color: #fde047;
}

.input-container {
    height: 0;
    width: 100%;
    top: 10%;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.input-active {
    height: 3.5em;
    width: 100%;
    top: 10%;
    left: 0;
    position: absolute;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #fde047;
    background-color: #111827;
}

.nav-input {
    height: 1.4375em;
    width: 95%;
    border-radius: 5px;
    border: none;
    padding: 1.1em 1em;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin: 0 auto;
    margin-top: 0.5em;
    background-color: #374151;
    color: #fde047;
}

.nav-input::placeholder {
    color: #fde047;
}

.nav-input:focus {
    outline: none;
}

.search-btn {
    background: none;
    border: none;
    font-size: 1rem;
    color: #fde047;
}

.search-btn:hover {
    cursor: pointer;
}

/* Shows */

.home-container {
    height: 90vh;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    border: 3px solid purple;
}

.discover-shows-container {
    width: 100%;
    justify-content: center;
    border: 1px solid yellow;
}

.discover-shows {
    font-size: 1rem;
    letter-spacing: 0.8px;
    color: white;
    text-align: center;
}

.shows-carousel-container {
    border: 1px solid red;
    width: 85%;
    margin: 0 auto;
}

.show-card {
    /* width: 30%; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid blue;
}

.show-card-img {
    width: 100%;
    height: 200px;
}

.show-card-name {
    font-size: 1rem;
    font-weight: 900;
    color: #fde047;
    letter-spacing: 0.8px;
}

/* People */

.discover-people-container {
    width: 100%;
    justify-content: center;
    border: 1px solid yellow;
}

.discover-people {
    font-size: 1rem;
    letter-spacing: 0.8px;
    color: white;
    text-align: center;
}

.people-carousel-container {
    border: 1px solid red;
    width: 85%;
    margin: 0 auto;
}

.person-card {
    /* width: 30%; */
    padding: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid blue;
}

.person-card-img {
    width: 100%;
    height: 200px;
}

.person-card-name {
    font-size: 1rem;
    font-weight: 900;
    color: #fde047;
    letter-spacing: 0.8px;
}

.discover-people {
    font-size: 1rem;
    letter-spacing: 0.8px;
    color: white;
    text-align: center;
}

/* Media Queries */

@media screen and (min-height: 300px) and (max-height: 450px) {
    .input-active {
        top: 15%;
    }
}

@media screen and (min-height: 600px) {
    .input-active {
        top: 8%;
    }
}

@media screen and (min-width: 768px) {

    /* Navbar */
    .logo {
        font-size: 1.6rem;
    }

    .tv {
        font-size: 1.4rem;
    }

    .hamburger-line {
        height: 3px;
        margin: 5px;
    }

    .search-btn {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    
    /* Navbar */
    .navbar-container {
        height: 8vh;
    }

    .nav {
        width: 50%;
        max-width: 550px;
        position: static;
        flex-direction: row;
        order: 2;
        background: none;
    }

    .nav-link {
        font-size: 1rem;
        font-weight: 900;
    }

    .logo-container {
        order: 1;
    }

    .logo {
        font-size: 1.8rem;
    }

    .tv {
        font-size: 1.8rem;
    }

    .input-container {
        width: 20%;
        position: static;
        height: auto;
        order: 3;
    } 

    .nav-input {
        margin-bottom: 0.5em;
    }

    .hamburger-btn {
        display: none;
    }

    .search-btn {
        display: none;
    }
}